//
//  Config.xcconfig
//  OpenFeaturePoC
//
//  Created by Oleksandr Karpenko on 15.06.2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
FLAGSMITH_ENV_KEY=PROVIDE_YOUR_KEY_HERE
